{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block extraheader %}

{% endblock %}
{% block main %}
<p id="first" style="color: red; font-size: larger;"><b>↓↓ボタンをクリックして検索をスタート</b></p>
<p style="font-size: large;">概要タグ</p>
<div id="bigtag_table">
    {% for bigtag in bigTags %}
        <button type="button" class="btn btn-outline-secondary"  data-bs-toggle="button" onclick="getSerch_f(this)" name="B" value="{{bigtag.tag}}">{{bigtag.tag}}</button>
    {% endfor %}
</div>
<hr>
<p style="font-size: large;">詳細タグ</p>
<div id="finetag_table"></div>
<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" style="width: 10%;">評価ページ</th>
            <th scope="col">該当ページ</th>
        </tr>
    </thead>
    <tbody id="url_table">
        {% for url in urls %}
        <tr>
            <th scope="row"><a href="{% url 'assemble:detail' url.id %}">≡・ω・≡</a></th>
            <th><a href="{{url.url}}">{{url.title}}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block extrascript %}
<script>
    let pushed = [];
    let newpushe;
    let deletednonpush;
    const el_hr = document.createElement("hr");
    function callChanges(params) {
        if(params.name=="B"){
            Bchange(params);
        }else if(params.name=="F"){
            Fchange(params);
        }
    }
    function Fchange(params) {
        if(params.getAttribute("aria-pressed")=="true"){
            newpushe={
                tag:params.name,
                name:params.value,
                parent:params.getAttribute("parent"),
            }
            pushed.push(newpushe);
        }else{
            /* 
            Ftagをpushedから削除
            */
            deletednonpush = pushed.filter((item,index)=>{
                if(item.tag == "F" && item.name == params.value){
                    return false;
                }
                else {
                    return true;
                }
            });
            pushed = deletednonpush;
        }
    }
    function Bchange(params) {
        if(params.getAttribute("aria-pressed")=="true"){
            newpushe={
                tag:params.name,
                name:params.value,
            }
            pushed.push(newpushe);
        }else{
            /* 
            Btagをpushedから削除
            配下のFtagもpushedから削除
            */
            deletednonpush = pushed.filter((item,index)=>{
                if(item.tag == "B" && item.name == params.value){
                    return false;
                }else if (item.tag == "F" && item.parent == params.value){
                    return false;
                }
                else {
                    return true;
                }
            });
            pushed = deletednonpush;
        }
        
    }

    async function getSerch(parms) {
        callChanges(parms)
        fetch("{% url 'assemble:serchapi' %}",{
        method :'POST',
        body:JSON.stringify(pushed),
        headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'X-CSRFToken': '{{csrf_token}}',
            },
        }).then(function (res) {
            return res.json();
        }).then(function (res) {
            const urltable = document.getElementById("url_table");
            // URL更新
            while(urltable.firstChild){
                // URL全部消す
                urltable.removeChild(urltable.firstChild);
            }
            const urls = res['urls'];
            for(let i = 0; i<urls.length;i++){
                // URL属性付け
                // tr
                let newtr = document.createElement("tr");
                // th detail
                let detth = document.createElement("th");
                detth.setAttribute("scope","row");
                detth.setAttribute("style","width: 10%;");
                // a detail
                var newid = document.createElement("a");
                let eight = urls[i]["id"].slice(0,8);
                let four1 = urls[i]["id"].slice(8,12);
                let four2 = urls[i]["id"].slice(12,16);
                let four3 = urls[i]["id"].slice(16,20);
                let last = urls[i]["id"].slice(20);
                let idrepurl = "{% url 'assemble:detail' furl.id %}".replace(/{{furl.id}}/,(eight+"-"+four1+"-"+four2+"-"+four3+"-"+last));
                newid.setAttribute("href",idrepurl);
                newid.innerText="≡・ω・≡";
                // 親子関係
                detth.appendChild(newid);
                newtr.appendChild(detth);
                // th ->url
                let urlth = document.createElement("th");
                // a ->url
                let newa = document.createElement("a");
                newa.setAttribute("href",urls[i]["url"]);
                newa.innerText=urls[i]["title"];
                newa.setAttribute("target","_blank");
                newa.setAttribute("rel","noopener noreferrer");
                // 親子関係
                urlth.appendChild(newa);
                newtr.appendChild(urlth);
                urltable.appendChild(newtr);
            }
            // FineTag更新
            const finetagtable = document.getElementById("finetag_table");
            let finetagchild_num = finetagtable.children.length;
            let exist_finetag = [];
            while(finetagtable.hasChildNodes()){
                //クリックされているFineTagを記録
                if(finetagtable.firstChild.getAttribute("aria-pressed")=="true"){
                    exist_finetag.push({
                        "tag":finetagtable.firstChild.getAttribute("name"),
                        "name":finetagtable.firstChild.getAttribute("value"),
                        "parent":finetagtable.firstChild.getAttribute("parent")
                    });
                }
                //一旦全消し
                finetagtable.removeChild(finetagtable.firstChild);
            }
            /* console.log("exist_finetag");
            console.log(exist_finetag); */
            const finetags = res['finetags'];
            
            // FineTagの再構成
            let anewfinetag;
            for(var i = 0;i<finetags.length;i++){//ここから下同一parent
                // console.log("i=" + i);
                var newparent = document.createElement("div");
                newparent.innerText = finetags[i].parent;
                finetagtable.appendChild(newparent);
                
                for (var j = 0; j < finetags[i].childlen.length;j++){
                    // console.log("j=" + j);
                    anewfinetag = {
                        "tag":"F",
                        "name":finetags[i].childlen[j],
                        "parent":finetags[i].parent
                    }
                    /* FineTagのボタン作成 */
                    var newbutton = document.createElement("button");
                    newbutton.setAttribute("type","button");
                    newbutton.classList.add("btn");
                    newbutton.classList.add("btn-outline-secondary");
                    newbutton.setAttribute("data-bs-toggle","button");
                    newbutton.setAttribute("onclick","getSerch(this)");
                    newbutton.setAttribute("name","F");
                    newbutton.setAttribute("value",anewfinetag.name);
                    newbutton.setAttribute("style","margin-left: 5px;");
                    newbutton.setAttribute("parent",anewfinetag.parent);
                    newbutton.innerText = anewfinetag.name;
                    
                    // 押されていたら属性追加
                    for(var k = 0;k < exist_finetag.length;k++){
                        // console.log("k=" + k);
                        if(JSON.stringify(exist_finetag[k]) == JSON.stringify(anewfinetag)){
                            newbutton.classList.add("active");
                            newbutton.setAttribute("aria-pressed","true");
                            break;
                        }
                    }
                    // Childに追加
                    finetagtable.appendChild(newbutton);
                }
            }
            exist_finetag = []
        });
    }
</script>
<script id="firstjs">
    async function getSerch_f(params){
        const fmes = document.getElementById("first");
        const bigtagtable = document.getElementById("bigtag_table");
        for(let i = 0;i<bigtagtable.childElementCount;i++){
            const abigtag = bigtagtable.children[i];
            abigtag.setAttribute("onclick","getSerch(this)");
        }
        getSerch(params);
        fmes.remove();
        const thisscr = document.getElementById("firstjs");
        thisscr.remove();
    }
</script>
{% endblock %}