{% load static %}
{% load django_bootstrap5 %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}大学生の参考資料{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">大学生の参考資料</a>
                <a href="{% url 'assemble:new' %}" class="navbar-brand">URL登録</a>
                <ul class="navbar-nav mr-md-2">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">ログアウト</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">ログイン</a></li>
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">会員登録</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light" style="position:absolute;bottom:0;">
            <div class="container">
                <p>©︎2022 yuuki</p>
            </div>
            <div class="container">
                <p>要望はこちら</p>
                <ul>
                    <li><a href="https://forms.gle/BMYfp8fGKGNXjNro6">概要タグの追加申請</a></li>
                    <li><a href="https://forms.gle/v4rKG2w16eQDBVqQA">詳細タグの追加申請</a></li>
                    <li><a href="https://forms.gle/Djvjwhsagy4P3LXw6">要望</a></li>
                </ul>
            </div>
        </footer>
        {% block extrascript %}
        {% endblock %}
    </body>
</html>