{% load static %}
{% load django_bootstrap5 %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}大学生の参考資料{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">大学生の参考資料</a>
                <a href="{% url 'assemble:new' %}" class="navbar-brand">URL登録</a>
                <ul class="navbar-nav mr-md-2">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">ログアウト</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">ログイン</a></li>
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">会員登録</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>
        {% block exfooter %}
        <footer class="footer py-3">
            <div class="container">
                <p>©︎2022 yuuki</p>
            </div>
            <div class="container">
                <a href="{% url 'request' %}" class="foot_a">要望はこちら</a>
            </div>
        </footer>
        {% endblock %}
        {% block extrascript %}
        {% endblock %}
    </body>
</html>